body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
}

.header-navbar, .header-links {
    display: flex;
    flex: 1;
}

.info-header-text {
    text-align: center;
}

.info-gallery {
    display: flex;
    flex: 1;
    padding: 2rem 6rem;
    margin: 2rem 6rem;
}

.info-card img {
    border: #3882F6;
}

.info-card {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 4rem 10rem;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

#author {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    color: black;
}

button {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    padding: 0.25rem;
    text-align: center;
}